<% provide(:title, 'TechRumors - Hottest new tech rumors') %>


<p>Disclaimer: all information and material on this website should be treated as fiction.
Anything posted here should be assumed to be idle gossip no claims about its truth or untruth are made.
StartupRumors does not endorse, support, confirm or deny any of the material on this website.
Enter at your own risk. No liability accepted for information posted or viewed.</p>
<p>If you believe that information posted is illegal or wish it to be removed please email startuprumors@gmail.com
	with a link to the relevant story</p>
