<% provide(:title, 'TechRumors - Hottest new tech rumors') %>

<% if params[:show] != "all" %>
	<h3><strong>hot</strong> | <a href="/?show=all">all</a></h3>
 	<%= render partial: 'posts/hot_post', collection: @hot_posts %>
<% else %>
	<h3><%= link_to "hot", root_path %> | <strong>all</strong></h3>
	<%= render partial: 'posts/hot_post', collection: @all_posts %>
<% end %>